<?xml version="1.0"?>
<config>
	<app framerate_cap="60">
		<title>Tabula Rasa Engine</title>
		<organization>None</organization>
	</app>
	<renderer>
		<vsync value="true" />
	</renderer>
	<window>
		<resolution width="968" height="648" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<audio fx="64" music="64">
		<lvlMusic name="textures/source_spritesheet.png" />
	</audio>
	<file_system>
		<path>data.zip</path>
	</file_system>
	<main_scene/>
	<physics/>
</config>
